.navSection {
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navSection .navLogo {
    display: flex;
    gap: 15px;
}

.navSection .navLogo h1 {
    font-size: 17px;
    font-weight: 50;
    color: #777;
}

.navSection .bars {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.navSection .navLinks {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.navSection .navLinks a {
    text-decoration: none;
    color: #777;
}

.navSection .navLinks .activeLink {
    position: relative;
}

.navSection .navLinks .activeLink::before {
    content: "";
    position: absolute;
    bottom: -7px;
    width: 30px;
    height: 3px;
    background-color: orange;
}

@media screen and (max-width:992px) {
    .navSection .bars {
        display: block;
    }

    .navSection .navLinks {
        position: absolute;
        right: 0;
        top: 60px;
        height: 100vh;
        padding: 20px;
        background-color: orange;
        display: none;
    }

    .navSection .active {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .navSection .navLinks a {
        color: white;
    }
}